/* Styles in support of exercise */


/* className for the trail elements */

body {
    height: 300px;
    background: beige;
}

.trail {
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background-color: teal;
}